$bgcolor: white;
$bgcolor-alt: #F2F2F2;
$accentbgcolor: #99E2D0;
$buttonaccentcolor: linear-gradient(to right bottom, #FF79DA, #9356DC);
$methodaccentcolor: #9356DC;
$favaccentcolor: linear-gradient(to right top, #FF79DA, #9356DC);
$txtcolor: black;
$txtcolor-alt: grey;
$txtcolor-footer: lighten($txtcolor, 100%);
$accenttxtcolor:teal;

