   /* OH MY FOOD MAIN STYLE SHEET */               
/* reset lines */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

input, button, textarea, select {
    font: inherit;
}

/* colour variables */
$bgcolor: white;
$bgcolor-alt: #F2F2F2;
$accentbgcolor: #99E2D0;
$buttonaccentcolor: linear-gradient(to right bottom, #FF79DA, #9356DC);
$buttonaccentcolor-hover: linear-gradient(to right bottom,lighten(#FF79DA, 2%),lighten( #9356DC,2%));
$methodaccentcolor: #9356DC;
$favaccentcolor: linear-gradient(to right top, #FF79DA, #9356DC);
$txtcolor: black;
$txtcolor-alt: grey;
$txtcolor-footer: lighten($txtcolor, 100%);
$accenttxtcolor:teal;

/* font variables */
$text-font:'Roboto', sans-serif;
$title-font:'Shrikhand', cursive;

/* animation variables */
$init-delay: 0.05s;

/* mixins */
@mixin dropshadow {
    box-shadow: 0 2px 5px 2px lightgrey;
}

@mixin loading {
      
      .heart-pulse {
        margin: 15rem auto;
        width: 25vw;
        height: 20vh;
        text-align: center;
      }
      
      .icon {
        width: 6em;
        height: 6em;
        position: fixed;
        display: block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      
      .icon::before, 
      .icon::after {
        content:" ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
      }
      
      .icon::before {
        content:"\f004";
        font-family: "Font Awesome 5 Free"; font-weight: 900;
        font-size: 3em;
        display: grid;
        place-items: center;
        color: $txtcolor-footer;
        background-color: $methodaccentcolor;
        z-index: 1;
      }
      
      .icon::after {
        background-color: $methodaccentcolor;
        z-index: 0;
        animation: heartbeat 1500ms infinite;
      }
      
      @keyframes heartbeat {
        0% { 
          transform: scale(1.2);
          opacity: (0.75); 
        }
        5% { 
          transform: scale(1.3);
          opacity: (0.55);
        }
       39% { 
         transform: scale(0.9); 
         opacity: (0.75);
        }
       45% { 
         transform: scale(1.1);
         opacity: (0.55);
        }
       60% { 
         transform: scale(.95); 
         opacity: (0.35);
        }
      100% { 
        transform: scale(1.2); 
        opacity: (0);
        }
      }
}

/* landing loading page */

.loading-screen {
    padding: 2em;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgcolor-alt;
    z-index: 10;
    @include loading;
    animation: load-off 1.2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes load-off {
    0% {
        opacity: (1);
        z-index: 10;
    }
    45% {
        opacity: (1);
        z-index: 10;
    }
    95% {
        opacity: (1);
        z-index: 10;
    }
    100% {
        opacity: (0);
        z-index: -1;
    }
}


/* base styling */
body {
    background: darken($bgcolor-alt, 80%);
    min-width: 300px;
    max-width:1000px;
    width: auto;
    margin: 0 auto;
    font-family:$text-font;
    font-weight: 100;
    font-size: 16px;
    color:$txtcolor;
}

p {
    font-family:$text-font;
    font-size: 0.8em;
    font-weight: lighter;
}

h5 {
    font-family: $text-font;
    font-size: 1em;
    font-weight: bold;
    padding: 1em 2em;
    margin: 0 auto;
}

h4 {
    font-family:$title-font;
}

section {
    width: 100%;
    height: auto;
    margin:0 auto;
    background-color:$bgcolor-alt;
}

section p {
    padding: 0 0.5em;
}

/* homepage styling */
header {
    margin:0 auto;
    padding-top: 0.05em;
    text-align: center;
    background: $bgcolor;
}

img {
    width:50%;
    height:20%;
    padding-top: 0.5em;
    margin: 0.75em auto;
    display:block;
    object-fit:contain;
    background-color:$bgcolor;

}

#mapicon {
    width: 100%;
    height: auto;
    margin: inherit;
    padding: 2px;
    display: block;
    line-height: 1.8em;
    background-color: darken($bgcolor-alt, 10%);
    border-top:0.2px solid rgba(50,50,50, 0.20);
    box-shadow: inset 0px 0.7px 1px 0px grey;
}

#mapicon i, #mapicon p {
    display: inline;
    font-size: 1em;
    padding: 0 0.3em;
}

#marketing {
    text-align: center;
}

#marketing h5 {
    font-size: 1.5em;
}

#marketing p {
    font-size: 1em;
    font-weight: 100;
    padding-bottom: 1em;
}

.button, button {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1rem 3rem;
    margin: 2rem auto;
    border-radius: 25px;
    border-style:none;
    font-weight: bold;
    background: $buttonaccentcolor;
    color: $txtcolor-footer;
    @include dropshadow;
}

.button:hover, button:hover {
    background: $buttonaccentcolor-hover;
     box-shadow: 2px 2px 5px grey;
}

/* method section style */
#method h5 {
    padding: 2em 0;
}

.method-wrapper {
    background-color: white;
    text-align:left;
    padding: 0 1.5em 1.5em;
}

.step-wrapper {
    width: auto;
    height: auto;
    background:$bgcolor-alt;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
    border-radius: 10px;
    @include dropshadow;
}

.bulletpoint {
    width: 3em;
    height: 3em;
    line-height: 3em;
    padding: 0.3em 0.5em;
    border-radius:100%;
    font-size: 0.7em;
    background:$methodaccentcolor;
    color: white;
    position: relative;
    left: -0.8em;
}

.step-wrapper i {
    color:$txtcolor-alt;
    font-size: 0.9em;
}

.step-wrapper p {
    display: inline;
    font-size:0.8em;
    padding-left: 1em;
}

#step3 {
    background: rgba($methodaccentcolor, 0.25);
}

#step3 i {
    color: $methodaccentcolor;
}

/*restaurant section */
#restaus {
    text-align: left;
    padding-bottom: 1em;
}

a:link, a:visited, a:hover {
    text-decoration:none;
    color: inherit;
}
#marketing a:link, #marketing a:visited, #marketing a:hover {
    color: $txtcolor-footer;
}

 .restau-wrapper {
    width: 90%;
    height: 15rem;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    background: $bgcolor;
    margin: 1em;
    border-radius: 10px;
    @include dropshadow;
 }

 .restau-img {
     padding: 0;
     margin: 0;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background: black;
     grid-column: 1/-1;
     grid-row: 1/3;
 }

 .restau-wrapper span {
     width: 4.5em;
     height: 2em;
     line-height: 1em;
     text-align:center;
     padding: 0.5em;
     margin: 0.8em;
     font-size:smaller;
     background:$accentbgcolor;
     color: darken($accentbgcolor, 40%);
     grid-column: 2/3;
     grid-row: 1/2;
 }


 .restau-wrapper p {
    margin: 0;
    padding: 0.5em 0.5em 0 0.5em;
}

 .restau-name {
     grid-column: 1/2;
     grid-row: 3/4;
     font-size:1.2em;
     font-weight: 900;
 }

 .city-name {
     grid-column: 1/2;
     grid-row: 4/5;
     padding-left: 2em;
     font-size: 0.8em;
     font-weight: 100;
 }

 input[type="checkbox"] {
     appearance: none;
     width: 2em;
     height: 2em;
     padding-top: 0.5em;
     grid-column: 2/3;
     grid-row: 3/5;
     position: relative;
     left: 2em;
     top: 1em;
 } 

 input[type="checkbox"]::after {
     content:'\f004';
     font-family:"Font Awesome 5 Free";
     font-weight: 300;
     font-size: 1.2em;
     display:flex;
     justify-content: center;
     align-items: center;
     position:absolute;
     top:0;
     right:0;
     bottom:0;
     left:-1em;
 }

 input[type="checkbox"]:hover::after,
 input[type="checkbox"]:checked::after{
     font-weight: 900;
     color: $methodaccentcolor;
 }

 /* restaurant images */
 #restau1-img {
     background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center no-repeat;
     background-size: cover;
 }

 #restau2-img {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#restau3-img {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#restau4-img {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center no-repeat;
    background-size: cover;
}

/* footer */
footer {
    background: darken($bgcolor-alt, 80%);
    text-align:left;
    color: $txtcolor-footer;
    font-size: 0.8em; 
    padding-bottom: 1em;
}

footer h4 {
    padding: 1em;
}

footer p {
    padding: .3em 1em;
}

footer .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#cutlery::before {
    content:'\f2e7';
    padding-right: 1.1em;
}

#partner::before {
    content:'\f4c4';
    padding-right: 0.5em;
}

.contactUs a,
.contactUs a:visited,
.contactUs a:hover {
    text-decoration:none;
    color:$txtcolor-footer;
}
 
/* menu page styling */

.navigation {
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
}

.navigation a i {
    padding:0;
    color: darken($txtcolor-alt, 20%);
}

.navigation h4 {
    margin: 0 auto;
}

.menu-img {
    width: auto;
    height: 15rem;
    background-color: black;
    position: relative;
    z-index: -1;
}

.menu-card {
    width: auto;
    height: auto;
    padding: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    top: -2em;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    text-align: left;
}

.section-wrapper h4 {
    margin: 0.5em 0 1em;
}

.section-wrapper h4::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f004';
    position: relative;
    float: right;
}

.food-categ-wrapper {
    margin-bottom: 1em;
}

.underline {
    display:block;
    width: 2.5em;
    border-bottom: solid 2px $accentbgcolor;
}

.menu-item-wrapper {
    position: relative;
    width: 100%;
    height: 20%;
    margin: 1em 0;
    padding: 0.3em;
    border-radius: 15px;
    background-color: $bgcolor;
    overflow:hidden;
    @include dropshadow;
}

.menu-item-wrapper > h5 {
    margin: 0;
    padding: 0.2em 0.5em;
    max-width: 18em;
    font-size: 1em;
}

.menu-item-wrapper > p {
    display: inline-block;
    margin: 0;
    padding: 0 0.6em;
    max-width: 22em;
    font-size: 0.8em;
    font-weight: 200;
    color: darken($txtcolor-alt, 10%);
}

.price {
    display: inline;
    margin: 0;
    padding: 0 0.6em 0.4em 0;
    font-weight: 900;
    font-size: 0.8em;
    position: relative;
    float: right;
}

.section-wrapper button {
    position: relative;
    align-content: center;
}

/* menu card animation */

.menu-item1 {
    --menu-drop-order: 1;
}
.menu-item2 {
    --menu-drop-order: 2;
}
.menu-item3 {
    --menu-drop-order: 3;
}
.menu-item4 {
    --menu-drop-order: 4;
}

.menu-drop {
    opacity:0;
    animation-name: dropping;
    animation-duration: 2s;
    animation-delay: calc(var(--menu-drop-order) * 0.5s);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes dropping {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* selection check animation */
.menu-item-wrapper > i {
    font-size: 1.5em;
    position: absolute;
    left: 100%;
    top: 25%;
    color: $txtcolor-footer;
    z-index: 11;
}
.price::after {
    margin-left: 0.5em;
    padding: 1.5em;
    width: 2em;
    height: 2em;
    position: absolute;
    top: -150%;
    left: 100%;
    content: " ";
    background-color: $accentbgcolor;
    z-index: 10;
}

.menu-item-wrapper:hover,
.menu-item-wrapper:focus {
    .fa-check-circle {
        transform:translateX(-150%)  rotate(360deg) ;
    }
    .price::after {
        transform: translateX(-30%);
        margin-left: 1.5em;
    }
    .price {
        transform: translateX(-150%);
    }

    h5, p {
        max-width: 12rem;
        padding-top: 0.2em;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;
    }
}

.fa-check-circle, .price, .price::after{
    transition: transform 0.5s ease-in-out;
}

/* ohmyfood media querries */

@media all and (min-width:1000px) {
    body{
        min-width:900px;
        max-width: none;
    }

    .loading-screen .icon{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    /* homepage styling */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    img {
        width: 25%;
        height: 10%;
        margin: 0 0.3em 0.5em;
    }

    #mapicon {
        width: 20%;
        margin-right: 0.3em;
        border-radius: 25px;
    }

    /*method section */
    .method-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    .step-wrapper {
        width: 25%;
    }

    .method-wrapper>h5 {
        align-self: flex-start;
        width: 100%;
    }

    /*restaurant section*/
    #restaus {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
        flex-basis: 40%;
        gap: 5%;
    }

    #restaus>h5 {
        align-self: flex-start;
        width: 100%;
    }

    /*footer*/
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    footer>h4 {
    align-self: center;
    width: 100%; 
    }

    footer>p {
        width: 15%;
    }


    /*menu page*/
    .menu-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    .menu-card>h4 {
        align-self: flex-start;
        width:100%;
    }

    .food-categ-wrapper {
        margin: 1em;
        width: 30%;
    }

    .menu-card>button {
        align-self: center;
        margin: 0 auto;
    }

    .menu-item-wrapper>h5 {
        max-width: 20em;
    }

    .menu-item-wrapper>p {
        max-width: 22em;
        font-size: 0.7em;
    }

    .menu-item-wrapper:hover p{
        max-width: 16em;
        white-space: pre;
        text-overflow:ellipsis;
        overflow:hidden;
        padding-top: 0.1em;
    }
}
 