   /* OH MY FOOD MAIN STYLE SHEET */               
/* reset lines */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

input, button, textarea, select {
    font: inherit;
}

/* colour variables */
$bgcolor: white;
$bgcolor-alt: #F2F2F2;
$accentbgcolor: #99E2D0;
$buttonaccentcolor: linear-gradient(to right bottom, #FF79DA, #9356DC);
$methodaccentcolor: #9356DC;
$favaccentcolor: linear-gradient(to right top, #FF79DA, #9356DC);
$txtcolor: black;
$txtcolor-alt: grey;
$txtcolor-footer: lighten($txtcolor, 100%);
$accenttxtcolor:teal;

/* font variables */
$text-font:'Roboto', sans-serif;
$title-font:'Shrikhand', cursive;

/* mixins */
@mixin dropshadow {
    box-shadow: 0 2px 5px 2px lightgrey;
}

/* base styling */
body {
    background: $bgcolor;
    min-width: 300px;
    max-width:600px;
    width: auto;
    margin: 0 auto;
    font-family:$text-font;
    font-weight: 100;
    font-size: 16px;
    color:$txtcolor;
    text-align: center;
}

p {
    font-family:$text-font;
    font-size: 0.8em;
    font-weight: lighter;
}

h5 {
    font-family: $text-font;
    font-size: 1em;
    font-weight: bold;
    padding: 2em;
    margin: 0 auto;
}

h4 {
    font-family:$title-font;
}

section {
    width: 100%;
    height: auto;
    margin:0 auto;
    background-color:$bgcolor-alt;
}

section p {
    padding: 0 0.5em;
}

/* homepage styling */
header {
    margin:0 auto;
}

img {
    width:50%;
    height:20%;
    margin: 0.3em auto;
    display:block;
    object-fit:contain;
    background-color:$bgcolor;

}

#mapicon {
    width: 100%;
    height: auto;
    margin: inherit;
    padding: 2px;
    display: block;
    font-size: 0.8em;
    line-height: 1.8em;
    background-color: darken($bgcolor-alt, 10%);
    border-top:0.2px solid rgba(50,50,50, 0.20);
    box-shadow: inset 0px 0.7px 1px 0px grey;
}

i p {
    display: inline;
    padding-left: 1.2em;
    font-weight:normal;
}

button 
{
    width: auto;
    height: auto;
    padding: 0.8em 1.2em;
    margin: 2em auto;
    border-radius: 25px;
    border-style:none;
    background: $buttonaccentcolor;
    color: white;
    @include dropshadow;
}

/* method section style */
#method h5 {
    padding: 2em 0;
}

.method-wrapper {
    background-color: white;
    text-align:left;
    padding: 0 1.5em 1.5em;
}

.step-wrapper {
    width: auto;
    height: auto;
    background:$bgcolor-alt;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
    border-radius: 10px;
    @include dropshadow;
}

.bulletpoint {
    width: 3em;
    height: 3em;
    line-height: 3em;
    padding: 0.3em 0.5em;
    border-radius:100%;
    font-size: 0.7em;
    background:$methodaccentcolor;
    color: white;
    position: relative;
    left: -0.8em;
}

.step-wrapper i {
    color:$txtcolor-alt;
    font-size: 0.9em;
}

.step-wrapper p {
    display: inline;
    font-size:0.8em;
    padding-left: 1em;
}

#step3 {
    background: rgba($methodaccentcolor, 0.25);
}

#step3 i {
    color: $methodaccentcolor;
}

/*restaurant section */
#restaus {
    text-align: left;
    padding-bottom: 1em;
}

a:link, a:visited, a:hover {
    text-decoration:none;
    color: inherit;
}


 .restau-wrapper {
    width: 90%;
    height: 15rem;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 1fr;
    grid-template-columns: 4fr 1fr;
    background: $bgcolor;
    margin: 1em;
    border-radius: 10px;
    @include dropshadow;
 }

 .restau-img {
     padding: 0;
     margin: 0;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     background: black;
     grid-column: 1/-1;
     grid-row: 1/3;
 }

 .restau-wrapper span {
     width: 4.5em;
     height: 2em;
     line-height: 1em;
     text-align:center;
     padding: 0.5em;
     margin: 0.8em;
     font-size:smaller;
     background:$accentbgcolor;
     color: darken($accentbgcolor, 40%);
     grid-column: 2/3;
     grid-row: 1/2;
 }


 .restau-wrapper p {
    margin: 0;
    padding: 0.5em 0.5em 0 0.5em;
}

 .restau-name {
     grid-column: 1/2;
     grid-row: 3/4;
     font-size:1.2em;
     font-weight: 900;
     border: dotted 1px blue;
 }

 .city-name {
     grid-column: 1/2;
     grid-row: 4/5;
     padding-left: 2em;
     font-size: 0.8em;
     font-weight: 100;
     border: dotted 1px teal;
 }


 .restau-wrapper i {
     width: 2em;
     height: 2em;
     padding-top: 0.5em;
     grid-column: 2/3;
     grid-row: 3/5;
     position: relative;
     left: 2em;
     top: 1.5em;
     border: dotted 1px red;
 } 

 .restau-wrapper i::after {
     opacity:0;
     content:'\f004';
     font-family:"Font Awesome 5 Free";
     font-weight: 900;
     display:flex;
     justify-content: center;
     align-items: center;
     color: $methodaccentcolor;
     position:absolute;
     top:0;
     right:0;
     bottom:0;
     left:-1em;
     background: $bgcolor;
 }

 .restau-wrapper i:hover::after{
     opacity: 1;
 }

 /* restaurant images */
 #restau1-img {
     background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") center no-repeat;
     background-size: cover;
 }

 #restau2-img {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#restau3-img {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") center no-repeat;
    background-size: cover;
}

#restau4-img {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") center no-repeat;
    background-size: cover;
}

/* footer */
footer {
    background: darken($bgcolor-alt, 80%);
    text-align:left;
    color: $txtcolor-footer;
    font-size: 0.8em; 
}

footer h4 {
    padding: 1em;
}

footer p {
    padding: .3em 1em;
}

footer .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#cutlery::before {
    content:'\f2e7';
    padding-right: 1.1em;
}

#partner::before {
    content:'\f4c4';
    padding-right: 0.5em;
}

.contactUs a,
.contactUs a:visited,
.contactUs a:hover {
    text-decoration:none;
    color:$txtcolor-footer;
}
 
/* menu page styling */

.navigation {
    width: 100%;
    padding: 0.5em 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.navigation a i {
    padding:0;
    color: darken($txtcolor-alt, 20%);
}

.navigation h4 {
    margin: 0 auto;
}

.menu-img {
    width: auto;
    height: 15rem;
    background-color: black;
}

section #menucard-section {
    width: auto;
    height: auto;
    padding: 1em;
    border-radius: 20px;
    position: relative;
    top: -2rem;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    text-align: left;
}

.section-wrapper h4 {
    margin: 0.5em 0 1em;
}

.section-wrapper h4::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f004';
    position: relative;
    float: right;
}

.food-categ-wrapper {
    margin-bottom: 1em;
}

.underline {
    display:block;
    width: 2.5em;
    border-bottom: solid 2px $accentbgcolor;
}

.menu-item-wrapper {
    width: 100%;
    height: 20%;
    /*display: grid;
    grid-template: repeat(2, 1fr)/ repeat(3, 1fr);
    grid-gap: 0.5em;*/
    margin: 1em 0;
    padding: 0.3em;
    border-radius: 15px;
    background-color: $bgcolor;
    @include dropshadow;
}

.menu-item-wrapper > h5 {
    margin: 0;
    padding: 0.2em 0.5em;
    max-width: 12em;
    font-size: 1em;
}

.menu-item-wrapper > p {
    display: inline;
    margin: 0;
    padding: 0 0.6em;
    max-width: 12em;
    font-size: 0.8em;
    font-weight: 200;
    color: darken($txtcolor-alt, 10%);
}

.price {
    display: inline;
    margin: 0;
    padding: 0 0.6em 0.4em 0;
    font-weight: 900;
    font-size: 0.8em;
    position: relative;
    float: right;
}

.section-wrapper button {
    margin: 1rem 3rem;
    padding: 1rem 4rem;
    position: relative;
    align-content: center;
}

/* landing loading page */

