/* menu selection animation */

@import '../abstracts/colours.scss';
@import '../base/typography.scss';
@import '../components/buttons.scss';

.food-categ-wrapper {
    margin: 2em auto;
    padding: 1em;
    border-radius: 20px;
    background-color: $bgcolor-alt;
    text-align: left;
}

.menu-item-wrapper {
    width: 80%;
    height: 20%;
    margin: 1em auto;
    text-align: left;
    background-color: $bgcolor;
    border-radius: 10px;
    overflow: visible;
}

p {
    display: inline-block;
    padding: 0.6em 1em;
    overflow: visible;
}

.price::after {
    content:" ";
    width: 1em;
    height: 1em;
    padding: 1em;
    position: relative;
    left: 4em;
    display: flexbox;
    justify-content: center;
    align-items:center;
    background-color: $accentbgcolor;
    z-index: 0;
}

i {
    color: $methodaccentcolor;
    font-size: 2em;
    position: relative;
    left: 4em;
    z-index: 1;
}

.menu-item-wrapper:hover {
    i {
        transform:translateX(-200%)  rotate(360deg) ;
    }
    .price::after {
        transform: translateX(-110%);
    }
    .price {
        transform: translateX(-20%);
    }
}

i, .price, .price::after{
    transition: transform 0.5s ease-in-out;
    position: relative;
    float: right;
}
